@font-face {
	font-family: PassionOne;
	src: url("../fonts/PassionOne-Regular.ttf") format("truetype");
}

@font-face {
	font-family: SecularOne;
	src: url("../fonts/SecularOne-Regular.ttf") format("truetype");
}
